/* --- content body --- */

.container 
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 12vw;
    margin-right: 12vw;
    height: 100vh;
}

.content 
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.content div 
{
    display: flex;
    align-items: center;
    justify-content: center;
}

#inov 
{
    display: flex;
    align-items: center;
    text-align: center;
}

#inov p 
{
    font-size: 1.2rem;
    border-radius: 30px;
    padding: 10px;
    text-shadow: 3px 5px 10px rgba(0, 0, 0, 0.8);
    color: darkgray;
}

#intro 
{
    font-size: 6rem;
    color: white;
    text-shadow: 3px 5px 10px rgba(0, 0, 0, 0.7);
    text-align: center;
}

#sub-intro 
{
    font-size: 2rem;
    padding: 0px;
    color: white;
    text-shadow: 3px 5px 10px rgba(0, 0, 0, 0.7);
    text-align: center;
}

#lorem 
{
    display: flex;
    padding: 30px;
    text-align: center;
}

#lorem p 
{
    color: darkgray;
    font-size: 1rem;
    text-shadow: 3px 5px 10px rgba(0, 0, 0, 0.7);
}

#got 
{
    color: beige;
    text-shadow: 3px 5px 10px rgba(0, 0, 0, 0.7);
}